{% extends 'base.html' %}
{% load static %}

{% block title %}
    Perfil - {{ request.user.first_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-2 pt-3">
                {% if request.user.profile_picture %}
                    <img src="{{ request.user.profile_picture.url }}" alt="Autor do post {{ post.title }}"
                         class="img-fluid" width="200">
                {% else %}
                    <img src="{% static 'img/default_profile.png' %}" alt="Autor do post {{ post.title }}"
                         class="img-fluid" width="200">
                {% endif %}
            </div>
            <div class="col pt-3">
                <h2>Informações do Usuário</h2>
                <table class="table table-hover">
                    <tbody>
                    <tr>
                        <td>Nome</td>
                        <td class="text-end">{{ request.user.name }}</td>
                    </tr>
                    <tr>
                        <td>Data de nascimento</td>
                        <td class="text-end">{{ request.user.birthday }}</td>
                    </tr>
                    <tr>
                        <td>Instagram</td>
                        <td class="text-end">{{ request.user.instagram }}</td>
                    </tr>
                    <tr>
                        <td>Twitter</td>
                        <td class="text-end">{{ request.user.twitter }}</td>
                    </tr>
                    <tr>
                        <td>Github</td>
                        <td class="text-end">{{ request.user.github }}</td>
                    </tr>
                    <tr>
                        <td>Linkedin</td>
                        <td class="text-end">{{ request.user.linkedin }}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="d-flex justify-content-between">
                    <a href="{% url 'users:edit' %}">
                        <button class="btn btn-info mt-3">Editar Perfil</button>
                    </a>
                    <div>
                        <a href="{% url 'post:manage' %}">
                            <button class="btn btn-success mt-3">Gerenciar Posts</button>
                        </a>
                        <a href="{% url 'post:create' %}">
                            <button class="btn btn-warning mt-3">Criar Post</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}