{% extends 'base.html' %}

{% load bootstrap5 %}
{% load static %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="pt-3 text-center">{{ post.title }}</h1>
        <img src="{{ post.image.url }}" alt="Imagem do post {{ post.title }}" class="img-fluid mx-auto d-block">
        <div class="text-center pt-2">
            {{ post.category }}
        </div>
        <div class="pt-3 pb-3">
            <p class="text-justify">
                {{ post.content }}
            </p>
        </div>
        <div>
            <h3 class="pb-2">Comentários: ({{ comments|length }})</h3>
            {% for comment in comments %}
                <div class="card text-dark bg-light mb-3" style="max-width: 60rem;">
                    <div class="card-header">{{ comment.author.name }} - {{ comment.created }}</div>
                    <div class="card-body">
                        <p class="card-text">
                            {{ comment.comment }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center pt-3">
            <div class="px-4">
                {% if post.author.profile_picture %}
                    <img src="{{ post.author.profile_picture.url }}" alt="Autor do post {{ post.title }}"
                         class="img-fluid" width="200">
                {% else %}
                    <img src="{% static 'img/default_profile.png' %}" alt="Autor do post {{ post.title }}"
                         class="img-fluid" width="200">
                {% endif %}
            </div>
            <div class="card border-dark mb-3" style="max-width: 25rem;">
                <div class="card-header bg-transparent border-dark">Post feito por {{ post.author.name }}</div>
                <div class="card-body">
                    <p class="card-text">
                        Publicado em {{ post.created }}
                    </p>
                    <p class="card-text">
                        Minhas redes:
                    </p>
                    <div class="d-flex justify-content-around">
                        <a href="https://twitter.com/{{ request.user.twitter }}" class="text-dark" target="_blank"> <i
                                class="bi bi-twitter"></i></a>
                        <a href="https://instagram.com/{{ request.user.instagram }}" class="text-dark"
                           target="_blank"><i class="bi bi-instagram"></i></a>
                        <a href="https://linkedin.com/{{ request.user.linkedin }}" class="text-dark" target="_blank"> <i
                                class="bi bi-linkedin"></i></a>
                        <a href="https://github.com/{{ request.user.github }}" class="text-dark" target="_blank"><i
                                class="bi bi-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h5 class="pt-5">Faça um comentário: </h5>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                    <button type="submit" class="btn btn-primary">
                        Enviar
                    </button>
                {% endbuttons %}
            </form>
        </div>
    </div>
{% endblock %}